__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
env/
build/
dist/
*.spec
*.egg-info/
.idea/
.vscode/
logs/
Thumbs.db
.DS_Store
tests/
conftest.py
screenshots/
tools/
config.json
build.ps1
run.py
rm-Screenshots/
icon.ico
